

/* Navbar */
.navbar {
   background:linear-gradient(to bottom, rgba(0, 0, 0, 0.477),rgba(255, 153, 0, 0.107));
  }
.navbar-brand img{
    height: 70px;
    width: 70px;
}

button.navbar-toggler{
    border: none;
}
button.navbar-toggler:focus {
    box-shadow: none;
}